.header{
 height: 70px;
  padding: 0 24px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;   
  width: 100%;                      
  box-sizing: border-box; 
 
}

.content{
  margin: 24px 16px;
  padding: 20px;
}

.sider{
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;

}

.trigger{
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.logo{
  color: #1a2c4c;
  margin: 30px 0;
  font-size: 1.5rem;
}

.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  font-weight: 500;
}

.ant-menu-item-selected{
  background-color: #1a2c4c !important;
  color: #fff;
}

.header-icon{
  background: #d2e3c8;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  color: #1a2c4c !important;
}

